@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background-color: #141414;
}

.link {
  width: 30vmin;
  height: 42vmin;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% center;
}

@media screen and (max-width: 768px) {
  .link {
    width: 100%;
    height: 100%;
  }
}
